<div id="<%= dom_id film %>">
  <p>
    <strong>Budget:</strong>
    <%= film.budget %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= film.description %>
  </p>

  <p>
    <strong>External ids:</strong>
    <%= film.external_ids %>
  </p>

  <p>
    <strong>Length:</strong>
    <%= film.length %>
  </p>

  <p>
    <strong>Movie type:</strong>
    <%= film.movie_type %>
  </p>

  <p>
    <strong>Premiere bluray:</strong>
    <%= film.premiere_bluray %>
  </p>

  <p>
    <strong>Premiere digital:</strong>
    <%= film.premiere_digital %>
  </p>

  <p>
    <strong>Premiere dvd:</strong>
    <%= film.premiere_dvd %>
  </p>

  <p>
    <strong>Premiere world:</strong>
    <%= film.premiere_world %>
  </p>

  <p>
    <strong>Rating:</strong>
    <%= film.rating %>
  </p>

  <p>
    <strong>Rating age limits:</strong>
    <%= film.rating_age_limits %>
  </p>

  <p>
    <strong>Rating mpaa:</strong>
    <%= film.rating_mpaa %>
  </p>

  <p>
    <strong>Remote images:</strong>
    <%= film.remote_images %>
  </p>

  <p>
    <strong>Slogan:</strong>
    <%= film.slogan %>
  </p>

  <p>
    <strong>Slug:</strong>
    <%= film.slug %>
  </p>

  <p>
    <strong>Source:</strong>
    <%= film.source %>
  </p>

  <p>
    <strong>Source lang:</strong>
    <%= film.source_lang %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= film.title %>
  </p>

  <p>
    <strong>Year:</strong>
    <%= film.year %>
  </p>

</div>
